# Dependencies
/node_modules/
/.next/
.env.local

# Next.js Build Output
/.next/
/out/

# Local env files
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor‑ und Systemdateien
.DS_Store
Thumbs.db
